<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paginated Units Table</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    >
  </head>
  <body>
    <div id="app" class="container mt-5">
      <h1>Paginated Units Table</h1>
      <table class="table table-striped table-bordered">
        <caption>List of Academic Units</caption>
        <thead>
          <tr>
            <th scope="col">Unit Code</th>
            <th scope="col">Description</th>
            <th scope="col">Credit Points</th>
            <th scope="col">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="unit in paginatedData" :key="unit.code">
            <td>{{ unit.code }}</td>
            <td>{{ unit.desc }}</td>
            <td>{{ unit.cp }}</td>
            <td>{{ unit.type }}</td>
          </tr>
        </tbody>
      </table>
      <!-- Pagination Controls -->
      <div class="d-flex justify-content-center mt-3">
        <button
          class="btn btn-secondary me-2"
          type="button"
          :disabled="currentPage === 1"
          @click="currentPage--"
        >
          Previous
        </button>
        <button
          class="btn btn-primary"
          type="button"
          v-for="page in pageCount"
          :key="page"
          :class="{ 'btn-info': currentPage === page }"
          @click="currentPage = page"
        >
          {{ page }}
        </button>
        <button
          class="btn btn-secondary ms-2"
          type="button"
          :disabled="currentPage === pageCount"
          @click="currentPage++"
        >
          Next
        </button>
      </div>
      </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="lab8.2.js"></script>
  </body>
</html>
